:root {
    --color-primary: #02b3e4;
    --color-new: #a739c8;
    --color-popular: #ffa234;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none !important;
}

body {
    color: #525c65;
    font-size: 1rem;
    overflow: auto;
    transition: .5s;
}

.wrapper {
    position: relative;
    background-color: #ffffff;
    transition: 2s;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: rgba(46, 61, 73, 0.2) 0px 1px 20px 0px;
}

header {
    max-width: 73.75rem;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.header-navigation {
    display: flex;
    float: right;
    top: 50%;
    transform: translateY(-35%);
    position: relative;
    align-items: flex-start;
}

.mob-sidenav {
    display: none;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2E3D49;
    overflow-x: hidden;
    transition: 0.5s;
    flex-direction: column;
}

.mob-sidenav a {
    padding: 1rem;
    color: #fff;
}

.logos svg {
    width: 180px;
    height: 30px;
    display: flex;
}

.mob-bar-toggler {
    display: none;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    float: left;
    margin-right: 1.69491525%;
    width: 15.25423729%;
}

.header-navbar-toogler {
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
}

.bar {
    display: block;
    height: .188rem;
    width: 100%;
    background: #02b3e4;
    margin-top: .188rem;
    -webkit-user-select: none;
}

.logo {
    position: relative;
    display: inline-block;
    width: 20.16806723%;
    margin-right: .84033613%;
    height: 1.875rem;
    top: 50%;
    transform: translateY(-50%);
}

.mob {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    top: 50%
}

.mob svg {
    width: 1.875rem;
    height: 1.875rem;
    top: -50%;
    position: relative;
}

.button-navigation {
    letter-spacing: 0;
    padding: 0 8px;
    background: none;
    border: #ffffff;
    color: inherit;
    display: inline-block;
    cursor: pointer;
}

.down {
    margin: 0 0.438rem;
    display: inline-block;
    height: 7px;
    width: 12px;
}

.down path {
    text-align: center;
}

.divider::before {
    content: '';
    width: 0px;
    border-left: 1px solid rgba(82, 92, 101, .4);
}

.divider {
    border: 2px solid transparent;
    height: 30px;
    text-align: center;
}

.header-navigation-tool {
    border: 0.125rem solid transparent;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    font-size: 1rem;
    margin: 0 1.125rem;
    line-height: 1.813rem;
}

.catalog {
    box-sizing: border-box;
    line-height: 1.9375rem;
    align-items: flex-start;
    border-radius: 0;
    margin: 0px 18px;
}

.link a {
    color: rgb(82, 92, 101);
}

.catalog:nth-child(1) {
    padding: 0 .5rem;
    width: 7rem;
    height: 3rem;
}

.catalog:nth-child(2) {
    padding-left: 1rem;
    padding-right: .5rem;
    text-align: left;
    height: 2.25rem;
    width: 6.5rem;
}

.button-navigation span {
    font-size: 16px;
}

.signin {
    letter-spacing: .094rem;
    font-size: .8125rem;
    text-align: center;
    color: #ffffff;
    background: var(--color-primary);
    padding: 0 10px;
    font-weight: 600;
    text-transform: uppercase;
    max-width: 131px;
    width: 107px;
    height: 28px;
    border-radius: 4px;
    box-shadow: 0 0 8px 0 rgba(17, 22, 26, .16), 0 4px 8px 0 rgba(17, 22, 26, .08), 0 8px 16px 0 rgba(17, 22, 26, .08);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a span {
    max-width: 320px;
    padding: 8px 32px;
    display: block;
}

.hero-banner {
    position: relative;
    box-sizing: border-box;
    height: 33.5rem;
    display: block;
    background-image: url("../src/hero.jpg");
    background-position: 100% 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero {
    position: absolute;
    max-width: 73.75rem;
    background-image: url("../src/blue-curve.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    display: flex;
    flex-direction: column;
    min-height: 33rem;
    height: auto;
    border-radius: 8px;
    margin: 1.875rem 3.25rem;
    margin-bottom: 0;
}

.hero-content {
    max-width: 73.75rem;
    box-sizing: border-box;
    margin-top: 24px;
    padding: 48px 24px;
}

.hero-content h2 {
    font-size: 2.5rem;
    ;
    box-sizing: border-box;
    font-weight: 300;
    margin-block-start: 1.25em;
    margin-block-end: 0.83em;
    display: block;
    margin-bottom: 24px;
    font-size: 2.5rem;
    line-height: 2.25rem;
}

.subtitle {
    margin-bottom: 24px;
}

.white {
    color: #ffffff;
}

.search-box {
    background-position: .8125rem center;
    font-size: .875rem;
    margin-bottom: 24px;
}

.search-box input[type=text] {
    background-position: .8125rem center;
    font-size: .875rem;
    margin-bottom: 24px;
    padding-left: 2.813rem;
    height: 3.125rem;
    background-repeat: no-repeat;
    background-size: 24px;
    border-radius: .375rem;
    background-image: url('https://images.ctfassets.net/2y9b3o528xhq/18bKgsmBxgheLvTvozlSM5/cc245182d687c3db0f4c8deff175ada5/search.svg');
    box-shadow: 0 7px 0 0 rgba(46, 61, 73, .05), 0 4px 0 0 rgba(46, 61, 73, .05), 0 1px 1px 0 rgba(46, 61, 73, .05);
    box-sizing: border-box;
    color: #242a2f;
    border: 1px solid #dbe2e8;
    width: 100%;
}

ul li {
    display: flex;
    margin-bottom: .125rem;
    flex-direction: row;
    align-content: flex-start;
}

ul li p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 24px;
}

ul li img {
    height: 18px;
    widows: 19px;
    line-height: 28px;
    margin-top: .3125rem;
    margin-right: 1rem;
}

ul {
    list-style: none;
    margin: .5rem;
}

.intercom {
    position: fixed;
    z-index: 2147483000;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
}

.intercom-layout {
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #02B3E4;
}

.intercom-button {
    top: 12%;
    left: 12%;
    margin: 8px;
    position: absolute;
    transition: all .5s ease;
    -webkit-transition: all .3s ease;
}

.chat {
    transform: scale(0) rotate(-90deg);
}

.close {
    transform: scale(0) rotate(90deg);
}

.intercom-button svg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: #ffffff;
}

.chat svg {
    width: 28px;
    height: 32px;
}

.close svg {
    width: 14px;
    height: 14px;
    padding: 7px;
    padding-top: 8.5px;
}

.intercom-layout .show {
    transform: scale(1) rotate(0deg) !important;
}

.recents {
    box-sizing: content-box;
    position: relative;
    margin: 0 3.25rem;
    max-width: 73.75rem;
    display: block;
    padding: 7.75rem 0 0 0;
    height: 23rem;
}

.recents-promo {
    height: 14.75rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    border-radius: .5rem;
    background-color: #f3f8fe;
}

.recents-promo-banner {
    background-image: url("../src/iOS_Developer_Promo_Desktop.jpg");
    display: block;
    flex: 11.63rem 0 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
}

.recents-promo-content {
    margin: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
}

.recents-promo-content-pre {
    margin-bottom: .5rem;
    padding: 0 .5rem;
    border-radius: .25rem;
    background-color: #a739c8;
    display: inline-block;
    color: white;
    text-transform: uppercase;
    font-size: .8125rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 24px;
}

.recents-promo-content-title {
    font-size: 1.5rem;
    font-weight: lighter;
    line-height: 2.5rem;
    margin-bottom: .5rem;
}

.recents-promo-more {
    margin: 0 4rem 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-direction: row;
    text-size-adjust: 100%;
}

.recents-promo-more a {
    border-radius: .25rem;
    text-transform: uppercase;
    color: #02b3e4;
    font-size: .813rem;
    line-height: 2.875rem;
    text-align: center;
    vertical-align: center;
    white-space: nowrap;
    width: 10.13rem;
    letter-spacing: .094rem;
    height: 3rem;
    font-weight: 600;
    background-color: #ffffff;
    box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
    transition: all 0.3s ease;
    border: 1px solid #02b3e4;
}

.recents-promo-more a:hover {
    background-color: #f2f2f2;
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.discover {
    background-size: cover;
    background-position: left bottom;
    margin: 0 52px;
}

.discover-header {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    color: #2e3d49;
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
    line-height: 2.5rem;
}

.discover-content {
    box-sizing: border-box;
    padding: 32px 0;
    display: flex;
    width: 100%;
}

.discover-item {
    padding: 5px;
    width: 20%;
}

.discover-item a {
    box-sizing: border-box;
    margin: .1rem;
    display: block;
    line-height: 24px;
    border-radius: .375rem;
    box-shadow: 0 0 8px 0 rgba(17, 22, 26, .16), 0 4px 8px 0 rgba(17, 22, 26, .08), 0 8px 16px 0 rgba(17, 22, 26, .08);
    ;
    position: relative;
}

.discover-item-box {
    margin-top: -.5rem;
    padding: 0 6px 36px .75rem;
}

.discover-item img {
    top: -20px;
    left: 0;
    position: relative;
    margin: 0 auto;
    height: 54px;
    width: 54px;
    filter: drop-shadow(0 5px 11px rgba(0, 0, 0, .15));
}

.discover-item {
    font-weight: 600;
    line-height: 1.4em;
    text-align: center;
    text-size-adjust: 100%;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.discover-item a:hover {
    box-shadow: 2px 4px 8px 0 rgba(46, 61, 73, .2);
}

.discover-item-top {
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    color: #02b3e4;
    padding-bottom: 6px;
    letter-spacing: 0.125rem;
    font-size: 0.8125rem;
}

.discover-item-bottom {
    font-size: 1.125rem !important;
}

.companies-wrapper {
    padding: 48px 0 72px 0;
    max-width: 73.75rem;
    margin: 0 auto;
    align-content: center;
}

.companies-logo {
    padding: 24px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.companies-header {
    margin-bottom: 1.5rem;
}

.companies-logo div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.companies-logo div svg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -7px 15px;
    height: 4.5rem;
    width: 8.5rem;
    text-align: center;
}

.companies-logo div path {
    position: relative;
    left: 50%;
    margin-left: 50px;
}

.companies-header h2 {
    color: #2E3D49;
    font-weight: lighter;
    font-size: 2rem;
    display: block;
    text-align: center;
}

.nanodegree {
    box-sizing: border-box;
    max-width: 73.75rem;
    margin: 0 auto;
    padding: 6rem 0;
}

.nanodegree-header {
    margin-bottom: 3.125rem;
    padding: 0 1.25rem;
}

.nanodegree-- {
    display: flex;
    flex-direction: row;
    margin: 1.563rem;
    width: 33.5rem;
    justify-content: center;
}

.nanodegree h2 {
    line-height: 3.5rem;
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 1.125rem;
}

.nanodegree-image {
    height: 13.125rem;
    width: 13.125rem;
    margin-right: 2rem;
    display: block;
    flex: 1 0 13.125rem;
    background-position: center;
    background-size: cover;
}

.nanodegree-content-icon {
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, .1);
    border-radius: 50%;
    background-color: #ffffff;
    width: 3.875rem;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 3.875rem;
}

.nanodegree-feature {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.nanodegree-header p {
    margin-block-start: 1em;
    margin-block-end: 1 em;
    display: block;
}

.nanodegree-content-description {
    margin: .9375rem 1.25rem 1.5625rem 1.563rem;
    font-size: .875rem;
    line-height: 1.5rem;
    max-width: none;
    width: 18.75rem;
}

.nanodegree-content-header {
    margin-left: -4rem;
    display: flex;
    padding-top: 1rem;
}

.nanodegree-content-title {
    color: #000;
    box-sizing: border-box;
    line-height: 2rem;
    margin-left: 1.5rem;
    margin-bottom: .625rem;
    font-weight: 600;
    font-size: 1.125rem;
    width: 15.63rem;
}

.programs-wrapper {
    background-color: #1D7CF8
}

.programs {
    max-width: 73.73rem;
    margin: 0 auto;
    padding: 4.5rem 0;
}

.programs-- {
    text-align: center;
}

.programs-- h2 {
    line-height: 1.4em;
    display: block;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    font-size: 2rem;
    padding-bottom: 1.5rem;
    font-weight: 300;
}

.programs-- p {
    font-size: 1rem;
    color: #ffffff;
}

.programs-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.programs-content a {
    border: 0.125rem solid tranparent;
    border-radius: .25rem;
    box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
    background-color: #ffffff;
    color: #02b3e4;
    font-size: 0.813rem;
    font-weight: 600;
    line-height: 2.625rem;
    padding: 0 0.5rem;
    transition: all 0.3s ease;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
    width: 15rem;
    height: 3rem;
}

.programs-content a:hover {
    color: #1cccfd;
    cursor: pointer;
}

.popular-wrapper {
    max-width: 73.75rem;
    margin: 0 auto;
    padding: 6rem 0;
    display: flex;
    flex-direction: row;
}

.popular-content {
    margin-right: 2.6875rem;
    flex: 1 0 15.75rem;
}

.popular-content-title {
    display: block;
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
    text-align: left;
}

.popular-content-subtitle {
    font-size: 1rem;
    line-height: 28px;
}

.popular-content-more {
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: .8125rem;
    color: #02b3e4;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.popular-content-more::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../src/icon-arrow-next-blue.svg");
    background-repeat: no-repeat;
    background-position-x: .5em;
    background-position-y: -.3em;
    background-size: 60%;
    display: inline-block;
    vertical-align: middle;
}

.popular-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.popular-cards-item {
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, .2);
    border-radius: .375rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    margin-left: 2.6875rem;
    height: 15rem;
    width: 15.63rem;
    max-width: 18.75rem;
}

.card-item-head {
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: .25rem .25rem 0 0;
    height: 35%;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
}

.card-item-head::before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: '';
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    ;
    border-radius: .25rem .25rem 0 0;
    z-index: 0;
}

.card-item-text {
    letter-spacing: 1.7px;
    text-align: left;
    z-index: 1;
    display: block;
    color: #fff;
    font-weight: 600;
}

.card-item-head .prefix {
    text-transform: uppercase;
    font-size: .625rem;
    opacity: .76;
    line-height: 1rem;
}

.card-item-head .title {
    font-size: .875rem;
    line-height: 1.5rem;
}

.card-item-flag {
    z-index: 1;
    align-self: flex-start;
    border-radius: .25rem;
    box-sizing: border-box;
    font-size: .8125rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.5rem;
    margin-top: auto;
    padding: 0 .5rem;
    text-transform: uppercase;
    color: #fff;
}

.card-item-head .new {
    background-color: var(--color-new);
}

.card-item-head .pop {
    background-color: var(--color-popular);
}

.card-item-body {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 2rem;
    padding: 1rem 1.5rem;
}

.stories-wrapper {
    max-width: 73.75rem;
    margin: 0 auto;
    padding: 3rem 0;
}

.stories-header {
    font-weight: 300;
    text-align: center;
    font-weight: 300;
    line-height: 1.4em;
    padding-top: 2rem;
    margin-bottom: 3.5rem;
    font-size: 2rem;
}

.stories-number {
    display: flex;
    flex-wrap: wrap;
    font-size: 24px;
    margin-bottom: 48px;
    margin-block-start: 1em;
}

.stories-number-- {
    text-align: center;
    margin-bottom: 2.5rem;
}

.stories-number-- img {
    height: auto;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 0 0 0.813rem 0;
}

.stories-number--number {
    font-size: 1.75rem;
    font-weight: lighter;
    line-height: 1.4em;
    margin-bottom: 1rem;
    color: #2e3d49;
}

.stories-number--content {
    color: #11161a;
    line-height: 1.4em;
    font-weight: 600;
    font-size: 1rem;
    width: 13.63rem;
    margin: 0 auto;
}

.stories-comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stories-wrapper li {
    box-sizing: content-box;
    float: left;
    display: block;
    margin-right: 1.69491525%;
    width: 32.20338983%;
}

.stories-comment {
    background-color: #fff;
    height: 23.5rem;
    box-sizing: border-box;
    color: #525c65;
    box-shadow: 0 0 4px 0 rgba(17, 22, 26, .16), 0 2px 4px 0 rgba(17, 22, 26, .08), 0 4px 8px 0 rgba(17, 22, 26, .08);
    border-radius: .5rem;
    text-align: center;
    display: inline-block;
    margin: 1rem;
    width: 21.5rem;
    position: relative;
}

.comment-card-cropper {
    overflow: hidden;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 64px;
    width: 64px;
    margin: 0 auto;
}

.comment-card-cropper img {
    margin: 0;
    height: 64px;
    width: auto;
}

.stories-wrapper li:nth-child(3) {
    margin-right: 0;
}

.comment-card-name {
    font-size: 1.75rem;
    font-weight: lighter;
    line-height: 36px;
    margin-top: -1rem;
    margin-bottom: 24px;
    text-align: center;
}

.comment-card-comments {
    margin-top: -1rem;
    padding: 0 1.25rem 1.25rem;
    font-size: .99rem;
    font-style: italic !important;
    font-weight: lighter;
}

.comment-card-rest {
    float: left;
    display: block;
    margin-right: 1.69491525%;
    width: 100%;
    border-radius: 0 0 8px 8px;
    background-color: #f7f7f8;
    bottom: 0;
    position: absolute;
}

.card-now {
    color: #657482;
    font-weight: 600;
    letter-spacing: 1.5px;
    overflow: hidden;
    margin-top: 24px;
    font-size: 0.8125rem;
    line-height: 24px;
    margin-bottom: 0;
}

.card-at {
    margin-top: 0;
    color: #000;
}

.promo-wrapper {
    max-width: 73.75rem;
    margin: 0 auto;
    padding: 4.5rem 0;
}

.promo-banner {
    border-radius: .5rem;
    background-color: #f3f8fe;
    display: flex;
    flex-direction: row;
}

.promo-banner-image {
    background-image: url("../src/smiling_man_wearing_headset.jpg");
    background-position: right;
    background-size: cover;
    border-radius: .5rem 0 0 .5rem;
    flex: 11.63rem 0 0;
    height: auto;
}

.promo-banner-content {
    margin: 2.5rem
}

.promo-banner- {
    line-height: 2.5rem;
    font-weight: lighter;
    margin-bottom: .5rem;
}

.promo-banner-content .title {
    font-size: 1.45rem;
}

.promo-banner-content .subtitle {
    font-size: 1rem;
}

.promo-banner-ct {
    margin: 0 4rem 0 auto;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.promo-banner-btn {
    background-color: #fff;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    text-transform: uppercase;
    width: 10.13rem;
    box-shadow: 8px 10px 20px 0px rgba(46, 61, 73, 0.15);
    display: block;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    height: 3rem;
    padding: 0 0.5rem;
    font-weight: 600;
    font-size: 0.813rem;
    line-height: 2.875rem;
    letter-spacing: 0.125rem;
    transition: all 0.3s ease;
    border-radius: 0.25rem;
}

.promo-banner-btn:hover {
    background-color: #f2f2f2;
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.explore {
    background-image: url("../src/img-footer.jpg");
}

.explore-wrapper {
    max-width: 73.75rem;
    margin: 0 auto;
    padding: 6rem 0;
}

.explore-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: #fff;
}

.explore h2 {
    display: block;
    font-size: 1.9rem;
    line-height: 3.25rem;
    font-weight: lighter;
}

.explore p {
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.75rem;
}

.explore-button-list {
    display: flex;
    padding-top: 3rem;
}

.explore-button {
    display: block;
    cursor: pointer;
    user-select: none;
    text-align: center;
    white-space: nowrap;
    font-weight: 600;
    font-size: 0.813rem;
    line-height: 2.625rem;
    border-radius: 0.25rem;
    letter-spacing: 0.125rem;
    border: 0.125rem solid transparent;
    height: 3rem;
    padding: 0 0.5rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
    width: 16.5rem;
    box-sizing: border-box;
}

.primary {
    color: #fff;
    background-color: var(--color-primary);
}

.primary:hover {
    background-color: #029fcb;
}

.secondary {
    background-color: #fff;
    margin-left: 24px;
    color: var(--color-primary);
}

.secondary:hover {
    color: #1cccfd;
}

@media screen and (min-width: 992px) {
    .logo {
        display: inline-block;
    }
    .header-navigation {
        display: flex;
    }
    .mob {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    /* 1024px*/
    .popular-wrapper {
        flex-direction: column;
        padding: 6rem 1.5rem;
    }
    .popular-content-title, .popular-content-subtitle, .popular-content-more {
        text-align: center;
    }
    .wrapper header {
        padding: 0 1.5em;
    }
    .mob, .mob-bar-toggler {
        display: flex !important;
    }
    .logo, .header-navigation {
        display: none;
    }
    .mob-sidenav {
        display: flex;
    }
}

@media screen and (max-width: 769px) {

    .promo-banner-image {
        border-radius: 8px;
    }

    .explore-wrapper,.promo-wrapper,.popular-wrapper {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    } 

    /* .popular-cards-item {
        margin-left: 0;
    } */
    
    .popular-content {
        margin-right: 0;
    }
    .explore-button-list {
        flex-direction: column;
    }
    .stories-wrapper li {
        width: 90%;
    }
    .explore-button {
        margin: 1rem auto;
    }
    .recents {
        padding-top: 4rem;
        padding-bottom: 48px;
        padding-left: 15.84px;
        padding-right: 15.84px;
        margin: 0;
        height: 30rem;
    }
    .recents-promo {
        flex-direction: column
    }
    .recents-promo-banner {
        background-position: top;
    }
    .recents-promo-content {
        align-items: flex-start;
        margin: 2rem 1.5rem 1.25rem;
    }
    .recents-promo-more {
        display: flex;
        justify-content: center;
        margin: auto 1.25rem;
    }
    .promo-banner {
        flex-direction: column;
    }
    .promo-banner-ct {
        justify-content: center;
        margin: auto 0;
    }
    .nanodegree-image {
        display: none;
    }
    .nanodegree-content-header {
        margin-left: 0;
        align-items: center;
    }
    .nanodegree-content-description,.nanodegree-content-title {
        width: auto;
        text-align: left;
    }
    .discover-item {
        min-width: 10rem;
    }
    .discover-content {
        overflow: auto;
    }
    .nanodegree-content-title {
        margin: 0;
    }
    .stories-number, .stories-comments {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .stories-comment {
        width: 90%;
    }
    .stories-comments li {
        display: flex;
        justify-content: center;
    }
    .hero-content {
        margin: 0;
        padding: 0 16px;
    }
    .explore-banner {
        padding: 0 24px;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 75.625rem) {
    /* 1210px */
    .stories-comment {
        width: 100%;
        height: 30rem;
    }

    .explore-wrapper,.promo-wrapper,.popular-wrapper,.programs-wrapper {
        padding-left: 1rem;
    }

    .stories-comments {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (max-width: 565px) {
    .hero {
        margin: 5px;
        width: 95%;
    }
    .recents-promo-content {
        margin: 0;
    }
    .search-box {
        position: relative;
    }
    .hero-content .search-box input[type=text] {
        width: 90%;
    }

    .popular-cards-item{
        margin-left: 0;
    }
}