.dropDown {
    box-sizing: border-box;
    border-radius: 5px;
    position: absolute;
    left: 20%;
    width: 65%;
    background-color: #FAFAFA;
    top: 100%;
    flex-direction: column;
    margin-top: 5px;
    padding: 10px;
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.25);
}

.Tags {
    display: grid;
    grid-template-columns:repeat(2,50%) ;
}

.pointer {
    width: 15px;
    height: 15px;
    transform: translateY(-17px) rotateZ(-45deg);
    background-color: inherit;
}

