.question {
    margin: 1rem;
    margin-bottom: 2rem;
    width: 90%;
    text-align: left;
    border-bottom: 1px solid #BBC0C4;
    user-select: none;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 1.75rem;
    color: #242729;
    font-weight: lighter;
    display: block;
}

.ask {
    font-size: .9rem;
    color: #6A737C;
    padding: 1rem .5rem;
    display: inline-block;
}

.date {
    font-size: .95rem;
    color: #242729;
    font-weight: 700;
}

.description {
    white-space: pre-wrap;
    color: #242729;
    margin: 1.25rem;
    font-weight: 500;
    font-family: Arial;
}

.content {
    display: flex;
    align-items: flex-start;
}

.content-text {
    display: flex;
    flex-direction: column;
}

.user-details {
    align-items: center;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}

.Options {
    margin-top: 1rem;
}

* {
    text-decoration: none;
}