.SideNav-wrapper {
    width: 25%;
    margin-top: 5rem;
    border: 1px solid #80deea;
    background-color: rgba(224, 247, 250, 0.25);
}

.SideNav-header {
    font-weight: 700;
    text-align: left;
    width: 100%;
    font-size: .9rem;
    color: #37474f;
    padding: .75rem;
    background-color: rgba(178, 235, 242, 0.25);
    box-sizing: border-box;
    border-bottom: 1px solid #80deea;
}